/*---GENERAL---*/
* {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

body{
    /*credit: image is from https://unsplash.com/photos/cfKC0UOZHJo*/
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*---NAVBAR---*/
.navbar-bg{
    background-color: rgba(255, 255, 255, 0.562);
}

.navbar{
    height: 3rem;
}
.nav-text {
    color: #484848;
}

.navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=484848');
}

/*---SLIDESHOW---*/
#slideshow { 
  position: relative;
  height: 30rem;
}

.img-case { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 33rem;
}

.img-case img{
    width: 100%;
    height: 100%;
}

/*---EXPLORE INTRO---*/
.explore-container{
    padding-left: 0;
    padding-right: 0;
}

.jumbotron{
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.jumbotron h2{
    color: #484848;
    text-shadow: 2px 2px rgb(148, 145, 145);
}

/*---EXPLORE TAB---*/
.tab a {
    color: #484848;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #484848;
    background-color:rgba(255, 255, 255, 0.4);
}

.location-img{
    width: 70%;
}
.language-img {
    width: 60%;
}