/*---GENERAL---*/
* {
font-family: 'Castoro', serif;
font-size: 16px;
}

body{
/*credit: image is from https://unsplash.com/photos/cfKC0UOZHJo*/
background-image: url("../images/background.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

.container-fluid{
padding-left: 0;
padding-right: 0;
}


/*---NAVBAR---*/
.navbar{
height: 3rem;
background-color: rgba(255, 255, 255, 0.6);
}

.collapse.show{
background-color: rgba(255, 255, 255, 0.6);
text-align: center;
border-radius: 2%;
}


.nav-text {
color: #484848;
}

.navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=484848');
}

/*---SLIDESHOW---*/
#slideshow { 
position: relative;
height: 33rem;
}

.img-case { 
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;
width: 100%;
height: 33rem;
}

.img-case img{
width: 100%;
height: 100%;
}

/*---EXPLORE INTRO---*/
.explore-container{
margin-top: 5rem;
margin-bottom: 5rem;
}

.jumbotron{
background-color: rgba(255, 255, 255, 0.4);
text-align: center;
}

.jumbotron h1{
text-shadow: 2px 2px rgb(148, 145, 145);
}

/*---EXPLORE TAB---*/
.tab a {
color: #484848;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: black;
background-color:rgba(255, 255, 255, 0.7);
}

.tab a{
background-color:rgba(255, 255, 255, 0.4);
}

.tab-text{
background-color:rgba(255, 255, 255, 0.4);
padding-top: 1rem;
padding-bottom: 1rem;
border-radius: 2%;
}

/*---LOCATION---*/
.location-img{
width: 70%;
}

.map-container{
float: left;
height: 23rem;
}

#map1 {
height: 100%;
border-radius: 2%;
}

/*---CLIMATE---*/
/*---credit: inspired by https://codepen.io/tutsplus/details/gObLaEP---*/
.top-banner h4 {
    padding-left: 3rem;
}
.top-banner form {
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  
}

.top-banner form input {
    margin: 1rem;
  font-size: 1rem;
  height: 2rem;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

.top-banner form input::placeholder {
  color: currentColor; 
}

.top-banner form button {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.3rem;
  margin-left: 15px;
  border-radius: 2%;
  transition: background 0.3s ease-in-out;
}

.top-banner form button:hover {
  background: var(--darkred);
}

.top-banner form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}

.ajax-section {
  margin: 1rem;
}

.ajax-section .cities {
  display: grid;
  grid-gap: 2rem 1rem;
}

.ajax-section .city {
  position: relative;
  border-radius: 2%;
  padding-left: 3rem;
  margin-top: 1rem;
}

.ajax-section .city::after {
  content: '';
  width: 90%;
  height: 3rem;
  position: absolute;
  bottom: -1rem;
  left: 5%;
  z-index: -1;
  opacity: 0.3;
  border-radius: 2%;
}

.ajax-section figcaption {
  text-transform: uppercase;
}

.ajax-section .city-temp {
  font-size: 2rem;
  font-weight: 400;
}

.ajax-section .city sup {
  font-size: 1rem;
}

.ajax-section .city-name span {
    font-size: 2rem;
    font-weight: 500;
}
.ajax-section .city-name sup {
  padding: 0.2em 0.6em;
  border-radius: 50%;
  background: white;
}

.ajax-section .city-icon {
  width: 5rem;
}
/*---credit ends---*/

.language-img {
width: 60%;
}

/*---CUISINE---*/
.cuisine-container{
width: 100%;
margin-top: 10rem;
}

.header {
width: 100%;
height: 20rem;
position:relative;
margin: 0;
/*---credit: image is from https://pixy.org/58283/---*/
background-image: url('../images/food-header.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.article{
width: 60%;
height: 100%;
position: absolute;
padding: 3rem;
background: rgba(255, 255, 255, 0.4);
overflow: scroll;
-ms-overflow-style: none;  /*hide scrollbar for IE*/
scrollbar-width: none;  /*hide scrollbar for Firefox */
}

.article::-webkit-scrollbar {
display: none; /*hide scrollbar for Chrome and Safari*/
}

/*---CUISINE IMAGES---*/
.cuisine-img-container{
margin: 5rem 2rem;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.cuisine-img-container p{
margin: 0 auto;
}

.cuisine-img-container img{
margin: 1rem 1rem;
width: 12.5rem;
position: relative;
border-radius: 2%;
}