*{
	font-family: 'Castoro', serif;
	font-size: 16px;
}

body {
	/*credit: image is from https://unsplash.com/photos/0Tdvt8QZSAs*/
	background-image: url("../images/plant.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

html, body {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


/*---UP BUTTON---*/
#up-btn {
	position: fixed;
	bottom: 1.2rem;
	right: 2rem;
	border: none;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 20%;
	cursor: pointer;
	z-index: 10;
	color: grey;
}
/*---NAVBAR---*/
.navbar {
	height: 3rem;
	background-color: rgba(255, 255, 255, 0.85);
}

.navbar-toggler-icon {
	margin-left: 1rem;
}

.collapse.show {
	background-color: rgba(255, 255, 255, 0.85);
	text-align: center;
	border-radius: 2%;
}

.nav-text {
	color: #484848;
}

.navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=484848');
}
/*---SLIDESHOW---*/

#slideshow {
	position: relative;
	height: 33rem;
}

.img-case {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 33rem;
}

.img-case img {
	width: 100%;
	height: 100%;
}
/*---INFO INTRO---*/

.info-container {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.jumbotron {
	background-color: rgba(255, 255, 255, 0.85);
	text-align: center;
}

.jumbotron h1 {
	text-shadow: 2px 2px rgb(148, 145, 145);
}
/*---INFO TAB---*/

.tab a {
	color: #484848;
}

.nav-tabs {
	border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: black;
	background-color: rgba(255, 255, 255);
}

.tab a {
	background-color: rgba(255, 255, 255, 0.85);
}

.tab-text {
	background-color: rgba(255, 255, 255, 0.85);
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 2%;
}
/*---LOCATION---*/

.location-img {
	width: 70%;
}

.map-container {
	float: left;
	height: 23rem;
}

#map1 {
	height: 100%;
	border-radius: 2%;
}
/*---CLIMATE---*/

/*---credit: inspired by https://codepen.io/tutsplus/details/gObLaEP---*/

.climate-container {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 2%;
}

.climate-container h4 {
	text-align: center;
}

.top-banner {
	padding: 1rem;
}

.top-banner form {
	margin-top: 1rem;
	position: relative;
	text-align: center;
}

.top-banner form input {
	font-size: 1rem;
	height: 2rem;
	padding: 5px 5px 10px;
	border-bottom: 1px solid;
}

.top-banner form input::placeholder {
	color: lightgrey;
}

.top-banner form button {
	font-size: 1rem;
	font-weight: 400;
	padding: 0.3rem;
	margin-left: 15px;
	border-radius: 2%;
	transition: background 0.3s ease-in-out;
}

.top-banner form button:hover {
	background: lightgrey;
}

.top-banner form .msg {
	position: absolute;
	bottom: -40px;
	left: 0;
	max-width: 450px;
	min-height: 40px;
}

.ajax-section {
	margin: 1rem;
}

.ajax-section .cities {
	display: grid;
	grid-gap: 2rem 1rem;
}

.ajax-section .city {
	position: relative;
	border-radius: 2%;
	margin-top: 1rem;
}

.ajax-section .city::after {
	content: '';
	width: 90%;
	height: 3rem;
	position: absolute;
	bottom: -1rem;
	left: 5%;
	z-index: -1;
	opacity: 0.3;
	border-radius: 2%;
}

.ajax-section figcaption {
	text-transform: uppercase;
}

.ajax-section .city-temp {
	font-size: 2rem;
	font-weight: 400;
}

.ajax-section .city sup {
	font-size: 1rem;
}

.ajax-section .city-name span {
	font-size: 2rem;
	font-weight: 500;
}

.ajax-section .city-name sup {
	padding: 0.2em 0.6em;
	border-radius: 50%;
	background-color: white;
}

.ajax-section .city-icon {
	width: 5rem;
}
/*---credit ends---*/

/*---POPULATION---*/
.chart-container1 {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 2%;
	height: 20rem;
}

.chart-container2 {
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 2%;
}
/*---CUISINE---*/

.cuisine-container {
	width: 100%;
	margin-top: 10rem;
}

.cuisine-header {
	width: 100%;
	height: 20rem;
	position: relative;
	margin: 0;
	/*---credit: image is from https://pixy.org/58283/---*/
	background-image: url('../images/food-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.imglist {
	text-align: center;
}

.article {
	width: 60%;
	height: 100%;
	position: absolute;
	padding: 3rem;
	background: rgba(255, 255, 255, 0.85);
	overflow: scroll;
	-ms-overflow-style: none;
 /*hide scrollbar for IE*/;
}

.article::-webkit-scrollbar {
	display: none;
	/*hide scrollbar for Chrome and Safari*/;
}

/*---CULTURE---*/
.card {
	border: none;
}

.culture-img {
	opacity: 0.7;
}

/*---CUISINE IMAGES---*/
.cuisine-img-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cuisine-img-container p {
	margin: 0 auto;
}

.cuisine-img-container img {
	margin: 1rem 1rem;
	width: 12.5rem;
	position: relative;
	border-radius: 2%;
	cursor: zoom-in;
}
/*---ATTRACTION---*/

.attraction-header {
	width: 100%;
	height: 4rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.85);
	margin-bottom: 3rem;
}

.attraction-header h3 {
	text-align: center;
	top: 50%;
}

.attraction-container {
	height: 60rem;
}

.attraction-maps {
	border: solid 0.5rem white;
	height: 55rem;
	margin: 0 10rem;
}

/*---GOOGLE MAP INFOWINDOW---*/
.gm-style img {
	width: 30%;
	height: 100%;
	float: left;
	margin-right: 1rem;
	display: block;
}


/*---CONTACT---*/
.contact-container {
	margin: 0;
	padding: 0;
}

.contact-header {
	width: 100%;
	height: 4rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.85);
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.contact-header h3 {
	text-align: center;
	top: 50%;
}

.center-form {
	margin-top: 2.5rem;
	text-align: center;
}

.form-control {
	font-size: 1rem;
}
/*---FOOTER---*/

.footer-container {
	height: 3.5rem;
	background-color: rgba(255, 255, 255, 0.85);
	text-align: center;
}

.footer-container ul {
	padding: 0;
}

.footer-container li {
	margin: 2rem;
}

.footer-container i {
	color: grey;
}